html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background: #fafafa;
}

#map {
  width: 450px;
  height: 450px;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 40% 55%;
  grid-column-gap: 5%;
  width: 85%;
  margin: auto;
}

header {
  text-align: center;
  padding-bottom: 30px;
}

h1 {
  font-size: 2em;
  margin-top: 10px
}

button {
  padding: 8px 10px;
  border: none;
  outline: none;
}

#pl-form {
  padding-bottom: 30px;
}

#pl-form label {
  padding: 5px;
}

#pl-form input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px 0 5px 0;
}

#pl-form button {
  margin-top: 10px;
}

#list {
  min-height: 700px;
  padding: 5px 10px 0 10px;
  box-shadow: -1px 1px 1px 2px #d0d0d0;
  vertical-align: middle;
}

#list .text {
  display: table;
}

#list .text span {
  display: table-cell;
  vertical-align: middle;
}

#list h2 {
  font-size: 1.7em;
  text-align: center;
}

#list li {
  padding: 10px 0;
  border-bottom: 1px solid #383838;
}

#list li:last-child {
  border: none;
}

#list input[type=checkbox] {
  width: 20px;
  height: 20px;
  appearance: none;
  outline: none;
  border: none;
  background: #383838;
}

#list button {
  margin: 10px 0 0 25px;
}

button {
  color: #f5f5f5;
  background-color: #383838;
}

#delete {
  background-color: #ff4536;
}

#map {
  position: absolute;
  top: 230px;
}

#pl-form span {
	color: #ff4536;
}

input.error {
	border: 1px solid #ff4536;
}

.visited {
	text-decoration: line-through;
}