<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Список мест</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
</head>
<body>
  <header>
    <h1>Список мест</h1>
  </header>
  <div id="app" class="container">

    <template id="app-form">
      <form id="pl-form" method="post" v-on:submit.prevent="validate">
        <label for="title">Название</label>
        <input type="text" name="title" v-model="title" v-bind:class="{ error: hasErrors && isTitleMissing }">
        <span v-if="submitted && isTitleMissing">Введите название</span>
        <br><br>
        <label for="address">Адрес</label>
        <input type="text" name="address"
        v-model="address"
        v-bind:class="{ error: hasErrors && isAddressMissing }">
        <span v-if="submitted && isAddressMissing">Введите адрес</span>
        <br>
        <button type="submit">Добавить</button>
      </form>
    </template>

    <template id="app-list">
      <div id="list">
        <h2>Места</h2>
        <ol>
          <li
            v-bind:key="index"
            v-for="(item, index) in list">
            <div class="text">
              <input type="checkbox" id="isVisited" v-model="item.visited" v-on:click="toggleVisited(index, item.visited)">
              <span v-bind:class="{ visited: item.visited }">
                {{item.title}} - {{item.address}}
              </span>
            </div>
            <div class="button-group">
              <button id="show" v-on:click="showOnMap(index)">Показать на карте</button>
              <button id="delete" v-on:click="deletePlace(index)">Удалить</button>
            </div>
          </li>
        </ol>
      </div>
    </template>

    <template id="app-map">
      <div id="map"></div>
    </template>

  </div>
  <script src="main.js"></script>
</body>
</html>